doctype html
html(ng-app="app")
  head
    title Web app template
  body
    script(src="/scripts.js")
    if environment == 'development' && livereload
      script(src="//localhost:#{livereload}/livereload.js")
